<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2014 Nicolas Caballero. All rights reserved.
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<plugin>
    <!-- TYPE CONVERTERS -->
    <extension point="org.datanucleus.type_converter">
        <type-converter name="libphonenumber-international"
                        member-type="com.google.i18n.phonenumbers.Phonenumber$PhoneNumber"
                        datastore-type="java.lang.String"
                        converter-class="org.datanucleus.store.types.libphonenumber.converters.PhoneNumberStringConverter$International"/>
        <type-converter name="libphonenumber-e164"
                        member-type="com.google.i18n.phonenumbers.Phonenumber$PhoneNumber"
                        datastore-type="java.lang.String"
                        converter-class="org.datanucleus.store.types.libphonenumber.converters.PhoneNumberStringConverter$E164"/>
        <type-converter name="libphonenumber-rfc3966"
                        member-type="com.google.i18n.phonenumbers.Phonenumber$PhoneNumber"
                        datastore-type="java.lang.String"
                        converter-class="org.datanucleus.store.types.libphonenumber.converters.PhoneNumberStringConverter$RFC3966"/>
    </extension>
</plugin>